:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif; */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: var(--cream);
}

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

main .product-card {
    max-width: 600px;
    height: 450px;

    background-color: var(--white);

    display: inline-grid;
    grid-template-areas: "image details";
    grid-template-columns: 300px 300px;

    border-radius: 25px;
    border: 1px solid black;
}

img {
    grid-area: image;

    width: 100%;

    border-radius: 25px 0px 0px 25px;
}

.details {
    grid-area: details;

    display: flex;
    flex-direction: column;

    text-align: start;
    gap: 30px;

    margin: 25px 0px 0px 35px;
}

.details #product {
    color: #8a8a8a;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;

    font-family: 'Montserrat', sans-serif;
}