:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif; */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: var(--cream);
}

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

main .product-card {
    max-width: 600px;
    height: 450px;

    background-color: var(--white);

    display: inline-grid;
    grid-template-areas: "image details";
    grid-template-columns: 300px 300px;

    border-radius: 10px;
}

img {
    grid-area: image;

    width: 100%;

    border-radius: 10px 0px 0px 10px;
}

.details {
    grid-area: details;

    display: flex;
    flex-direction: column;

    text-align: start;
    gap: 30px;

    margin: 30px 35px 0px;
}

.details #product {
    color: #8a8a8a;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;

    font-family: 'Montserrat', sans-serif;
}

.details h1 {
    font-family: 'Fraunces', serif;
    line-height: 30px;
    color: var(--dark-blue);
}

.details p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    color: var(--dark-grayish-blue);
}

.details .prices {
    display: flex;
    align-items: center;

    gap: 15px;
}

.details .prices #new-price {
    font-family: 'Fraunces', serif;
    font-size: 32px;

    color: var(--dark-cyan);
}

.details .prices #old-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: line-through;

    color: var(--dark-grayish-blue);
}

.details a {
    text-decoration: none;
}

.details .btn {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    padding: 15px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    color: var(--white);
    background-color: var(--dark-cyan);

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.details .btn img {
    width: 20px;
}